In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = (
    SparkSession.builder
        .appName("Spark")
        .master("local[4]")
        .config("spark.log.level", "ERROR")
        .getOrCreate()
)

25/04/12 23:52:51 WARN Utils: Your hostname, MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.13 instead (on interface en0)
25/04/12 23:52:51 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/12 23:52:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting Spark log level to "ERROR".

In [6]:
# Check the Spark session
spark

# Create a simple PySpark DataFrame
data = [("John", 28), ("Smith", 35), ("Alice", 23)]
df = spark.createDataFrame(data, ["Name", "Age"])

# Show the DataFrame
df.show()

# Perform some transformations
df.filter(df["Age"] > 30).show()

+-----+---+
| Name|Age|
+-----+---+
| John| 28|
|Smith| 35|
|Alice| 23|
+-----+---+

+-----+---+
| Name|Age|
+-----+---+
|Smith| 35|
+-----+---+

In [7]:
from random import random
from operator import add

num_samples = 1000000

def inside_circle(_):
    x, y = random(), random()
    return 1 if x*x + y*y <= 1 else 0

# Parallelize the computation
count = spark.sparkContext.parallelize(range(num_samples)) \
                          .map(inside_circle) \
                          .reduce(add)

# Estimate Pi
pi_estimate = 4 * count / num_samples
print(f"Pi is roughly {pi_estimate}")

Pi is roughly 3.141344

In [8]:
display(df.toPandas())

    Name  Age
0   John   28
1  Smith   35
2  Alice   23

In [ ]:
%%markdown
Processing

1. Single Core 
2. Parallel Processing / Multi-Threading
3. Distributed Processing

Pseudo Distributed

In [ ]:
%%markdown
1. Installed Anaconda
2. Created a python 3.11 environment
3. Installed JDK17 - Zulu@17 (Most stable is JDK8, But Databricks is experimenting with JDK17)
4. Installed pyspark 3.5.5 (conda activate spark-base, pip install pyspark==3.5.5)
5. Set the Python environment in VSCode